<div class="col-md-offset-2">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="title">
            <span class="title-text">Validação de Colchetes</span>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="form-group col-md-8 col-sm-8 col-xs-12">
            <label class="input-label" for="nome">Colchetes</label>
            <span class="required">*</span>
            <input type="text" class="form-control input-text" [(ngModel)]="bracket" pInputText required placeholder="Colchetes" 
                   [ngClass]="{'classErro': showError(), 'classSuccess': showSuccess() }" > 
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12 top-20">
            <button type="submit" class="btn button-next pull-right" [disabled]="!bracket" (click)="balancedBrackets()">Validar</button>
        </div>

    </div>
</div>
