<div class="clear"></div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title">
        <span class="title-text">Validação de Colchetes</span>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">

    <div class="form-group col-md-5 col-sm-8 col-xs-12">
        <label class="input-label" for="nome">Colchetes</label>
        <span class="obrigatorio">*</span>
        <input type="text" class="form-control input-text" pInputText required placeholder="Colchetes" 
                [ngClass]="{'classErro': isBracketValid }" (keypress)="balancedBrackets($event)" > 
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12 top-20">
        <button type="submit" class="btn button-back pull-left" *ngIf="brackets" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn button-next pull-right" [disabled]="!brackets" (click)="save()">Salvar</button>
    </div>

</div>

